In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
patient_df=pd.read_csv(r"C:\Users\USER\Downloads\Patient_Data.csv") #Load the patient dataset and show summary with info

In [3]:
patient_df

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00

In [4]:
patient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

In [5]:
patient_df.describe()

        PatientID   BillAmount  ReceptionistID
count    6.000000     4.000000        6.000000
mean   102.666667  5925.000000        1.666667
std      1.632993  1192.686044        0.816497
min    101.000000  5000.000000        1.000000
25%    101.250000  5000.000000        1.000000
50%    102.500000  5600.000000        1.500000
75%    103.750000  6525.000000        2.000000
max    105.000000  7500.000000        3.000000

In [6]:
patient_df.isnull().sum()

PatientID         0
Name              0
Department        0
Doctor            0
BillAmount        2
ReceptionistID    0
CheckInTime       0
dtype: int64

In [7]:
patient_df.duplicated().sum()

np.int64(1)

In [8]:
patient_df.shape

(6, 7)

In [9]:
patient_dfs=patient_df[['PatientID', 'Department', 'Doctor', 'BillAmount']] #Select only the columns relevant for billing: ['PatientID', 'Department', 'Doctor', 'BillAmount'].

In [10]:
patient_dfs

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

In [11]:
patient_dfs.drop(columns=["ReceptionistID","CheckInTime"],errors="ignore") #Drop administrative columns like ['ReceptionistID', 'CheckInTime'].

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

In [12]:
depts_bills=patient_dfs.groupby("Department")["BillAmount"].sum().reset_index() #Use groupby to find total bill amount per department.

In [13]:
depts_bills

    Department  BillAmount
0   Cardiology     16200.0
1  Dermatology         0.0
2    Neurology         0.0
3  Orthopedics      7500.0

In [14]:
drop_dupls=patient_dfs.drop_duplicates("PatientID") #Remove duplicate patient records based on PatientID.

In [15]:
drop_dupls

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN

In [16]:
patient_dfs.fillna(patient_dfs["BillAmount"].mean(),inplace=True)#Fill missing BillAmount values with the mean bill amount.

In [17]:
patient_dfs

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John      5925.0
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose      5925.0
5        101   Cardiology  Dr. Smith      5000.0

In [18]:
billing_data=pd.read_csv(r"C:\Users\USER\Downloads\Billing_Data.csv")

In [19]:
billing_data

   PatientID  InsuranceCovered  FinalAmount
0        101              2000         3000
1        102              1500         3500
2        103              2500         5000
3        104              3000         3200
4        105              1000         4000

In [20]:
comb_data=pd.merge(patient_dfs,billing_data,on="PatientID",how="left") #Merge the billing dataset with patient dataset on PatientID.

In [21]:
comb_data

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.0,2000,3000
1,102,Neurology,Dr. John,5925.0,1500,3500
2,103,Orthopedics,Dr. Lee,7500.0,2500,5000
3,104,Cardiology,Dr. Smith,6200.0,3000,3200
4,105,Dermatology,Dr. Rose,5925.0,1000,4000
5,101,Cardiology,Dr. Smith,5000.0,2000,3000

In [49]:
new_patients = pd.DataFrame({
    'PatientID': [2001, 2002],
    'Department': ['Cardiology', 'Neurology'],
    'Doctor': ['Dr. Rao', 'Dr. Sharma'],
    'BillAmount': [12500, 9800],
    "InsuranceCovered":[50000,58000],
    "FinalAmount":[55000,60000]
})

In [50]:
final_df = pd.concat([comb_data, new_patients], axis=0, ignore_index=True) #Concatenate an additional DataFrame that contains new patients for the current week (row-wise).

In [51]:
final_df

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.0,2000,3000
1,102,Neurology,Dr. John,5925.0,1500,3500
2,103,Orthopedics,Dr. Lee,7500.0,2500,5000
3,104,Cardiology,Dr. Smith,6200.0,3000,3200
4,105,Dermatology,Dr. Rose,5925.0,1000,4000
5,101,Cardiology,Dr. Smith,5000.0,2000,3000
6,2001,Cardiology,Dr. Rao,12500.0,50000,55000
7,2002,Neurology,Dr. Sharma,9800.0,58000,60000

In [58]:
new_billing_categories = pd.DataFrame({
    'PatientID': [101, 102,103,104,105,106,107,112],
    'InsuranceCovered': [True, False,True,False,True,False,True,True],
    'FinalAmount': [2000, 3000,2500,3500,5000,5500,6000,12000]
})

In [59]:
new_billing_categories

   PatientID  InsuranceCovered  FinalAmount
0        101              True         2000
1        102             False         3000
2        103              True         2500
3        104             False         3500
4        105              True         5000
5        106             False         5500
6        107              True         6000
7        112              True        12000

In [60]:
finals_data = pd.concat([final_df, new_billing_categories], axis=1)#Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise).

In [61]:
finals_data

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount,PatientID,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.0,2000,3000,101,True,2000
1,102,Neurology,Dr. John,5925.0,1500,3500,102,False,3000
2,103,Orthopedics,Dr. Lee,7500.0,2500,5000,103,True,2500
3,104,Cardiology,Dr. Smith,6200.0,3000,3200,104,False,3500
4,105,Dermatology,Dr. Rose,5925.0,1000,4000,105,True,5000
5,101,Cardiology,Dr. Smith,5000.0,2000,3000,106,False,5500
6,2001,Cardiology,Dr. Rao,12500.0,50000,55000,107,True,6000
7,2002,Neurology,Dr. Sharma,9800.0,58000,60000,112,True,12000

In [62]:
finals_data.drop_duplicates(inplace=True,ignore_index=True)

In [63]:
finals_data

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount,PatientID,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.0,2000,3000,101,True,2000
1,102,Neurology,Dr. John,5925.0,1500,3500,102,False,3000
2,103,Orthopedics,Dr. Lee,7500.0,2500,5000,103,True,2500
3,104,Cardiology,Dr. Smith,6200.0,3000,3200,104,False,3500
4,105,Dermatology,Dr. Rose,5925.0,1000,4000,105,True,5000
5,101,Cardiology,Dr. Smith,5000.0,2000,3000,106,False,5500
6,2001,Cardiology,Dr. Rao,12500.0,50000,55000,107,True,6000
7,2002,Neurology,Dr. Sharma,9800.0,58000,60000,112,True,12000